#tiny-sidebar {
    background: #0395FF;
    width: 20%;
    padding: 0 20px 0 20px;
}

.show-box {
    border: 2px solid red;
}

.show-box-2 {
    border: 2px solid black;
}

.sidebar-link-item:first-child {
    border-bottom-width: 0;
    border-top-width: 0;
}
.sidebar-link-item + .sidebar-link-item {
    border-bottom-width: 0;
}

.sidebar-link-item.active {
    background: #fff !important;
    border: none;
    color: #0395FF !important;
    border-right: 4px inset #0395FF;
}

.slim-bar-icon-list {
    margin-bottom: 15px;
}

#nav-search {
    background-color: #fff;
    border-radius: 5px;
}

#nav-search:focus {
    z-index: 0 !important;
    outline: none !important;
}

.name-tab {
    width: 50%;
}

.my-table-heading {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.created-tab {
    width: 15%;
}

.role-tab {
    width: 25%;
}

.action-tab {
    width: 10%;
}

.form-check-input:checked {
    background-color: #000;
    border-color: #000000;
}

.form-check-input:focus {
    outline: none;
}

.input-group > #nav-select:focus {
    z-index: 0;
}

/*input:focus {*/
/*    -webkit-appearance: none !important;*/
/*    -moz-appearance:none !important;*/
/*    outline: none !important;*/
/*    outline: 0 !important;*/
/*}*/

/*input:focus, select:focus {*/
/*    outline: 1px dashed red;*/
/*}*/

:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/*:-webkit-appearance {*/
/*    outline: 1px dotted ButtonText;*/
/*}*/

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.nav-link.dropdown-toggle {
    color: #000000;
}

.nav-item-has-dot {
    position: relative;
}

.nav-item-has-dot > i:first-child {
    color: black;
    font-size: 20px;
}

.nav-item-has-dot > i:nth-child(2) {
    color: blue;
    position: absolute;
    top: 5px;
    right: 15px;
}

/*.slim-bar .slim-bar-item:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

.slim-bar .slim-bar-item {
    margin-bottom: 20px;
}
